In [8]:
import pandas as pd
import numpy as np

In [22]:
data = pd.read_csv('../raw_data/val_subset_2021_2022.csv')
data.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,Marketing_Airline_Network,Origin,Dest,Distance,ArrDelayMinutes,Cancelled,Diverted
0,2021,1,1,23,6,1243,1531,AA,ABQ,DFW,569,0.0,False,False
1,2021,1,1,23,6,1745,1844,AA,ACT,DFW,89,24.0,False,False
2,2022,1,1,24,1,1632,1940,AA,AEX,CLT,722,0.0,False,False
3,2021,1,1,5,2,601,834,AA,ALB,CLT,646,0.0,False,False
4,2022,1,1,16,7,1152,1319,AA,ALB,DCA,318,7.0,False,False

In [23]:
data = data.sample(frac = 1)
data

,Year,Quarter,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,Marketing_Airline_Network,Origin,Dest,Distance,ArrDelayMinutes,Cancelled,Diverted
1859458,2022,2,6,24,5,2005,2130,WN,FLL,BNA,793,126.0,False,False
930048,2021,3,8,9,1,800,846,HA,KOA,HNL,163,0.0,False,False
31074,2022,1,1,2,7,1002,1158,NK,ORD,LAS,1514,93.0,False,False
1919821,2022,3,7,27,3,1204,1942,DL,SMF,ATL,2092,0.0,False,False
860761,2021,3,7,18,7,2137,2316,AA,DFW,HRL,461,0.0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1208740,2021,1,2,4,4,1100,1150,WN,DAL,ELP,562,1.0,False,False
1379423,2022,2,5,13,5,1711,1956,B6,ATL,BOS,946,9.0,False,False
1624183,2021,3,8,17,2,1125,1240,DL,JFK,BOS,187,0.0,False,False
821767,2022,3,7,9,6,1130,1359,AA,MIA,DCA,919,17.0,False,False
1335026,2022,2,4,26,2,2015,2155,WN,DAL,SJC,1450,0.0,False,False

In [24]:
data = data.reset_index().drop(columns = ['index'])

In [30]:
# data = data.head(2000000)
# data

,index,Year,Quarter,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,Marketing_Airline_Network,Origin,Dest,Distance,ArrDelayMinutes,Cancelled,Diverted
0,0,2022,2,6,24,5,2005,2130,WN,FLL,BNA,793,126.0,False,False
1,1,2021,3,8,9,1,800,846,HA,KOA,HNL,163,0.0,False,False
2,2,2022,1,1,2,7,1002,1158,NK,ORD,LAS,1514,93.0,False,False
3,3,2022,3,7,27,3,1204,1942,DL,SMF,ATL,2092,0.0,False,False
4,4,2021,3,7,18,7,2137,2316,AA,DFW,HRL,461,0.0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999995,1999995,2021,1,2,9,2,1145,1302,UA,SGF,DEN,637,0.0,False,False
1999996,1999996,2021,3,8,4,3,1511,1845,AA,DFW,TPA,929,0.0,False,False
1999997,1999997,2021,3,9,27,1,805,1140,WN,MDW,MCO,990,0.0,False,False
1999998,1999998,2022,3,7,17,7,1400,1755,WN,DAL,MIA,1109,NaN,True,False
1999999,1999999,2022,2,5,2,1,1205,1443,UA,IAH,ORD,925,0.0,False,False

In [32]:
data = data.drop(columns = 'index')

In [33]:
data.to_csv('../raw_data/val_subset_2m.csv', index = False)